@import "bootstrap/dist/css/bootstrap.min.css";

.d-contents {
	display: contents;
}

.modal {
	display: unset;
}

@scope (.git-example) {
	a {
		text-decoration: none;
		color: #42b883;
	}

	li {
		line-height: 1.5em;
		margin-bottom: 20px;
	}

	.author,
	.date {
		font-weight: bold;
	}
}